:root {
--brand-font: "Roboto", sans-serif;
--sub-brand-font: "Raleway", sans-serif;
--main-brand-color: #4d5ae5;
--sub-brand-color: #2E2F42;
--text-color:#434455;
--background-color: #F4F4FD;
--main-background-color:#E5E5E5;
--button-color: #4d5ae5;
--white-background-color: #ffffff;
--indent: 24px;
--items: 3;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
    }

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

image {
    display: block;
}

.button {
    cursor: pointer;
}

/*.container {
    width: 1128px;
    margin: 0 auto;
    padding: 0 15px;
}*/

/*---header---*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                 0px 1px 1px rgba(46, 47, 66, 0.16), 
                 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-address {
    font-weight: 800;
    line-height: 1.17;
    font-style: normal;
}

.logo-text {
    color: #2E2F42;
}

.link-logo {
    margin-right: 76px;
   
}
.header-item-link {
    padding: 24px 0;
    gap: 40px;
}


.header-address-list {
    gap: 40px;
}

.contacts:hover, .contacts:focus {
    color: #404bbf;
}

.header-container, .header-nav{
    display: flex;
    align-items: center;
    padding: 24px 0; 
    justify-content: space-between;     
}

.header-nav-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
}

.container {
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
} 


 /* --Hero image--*/
  
.main-title {  
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    min-width: 169px;
    margin: 0 auto;  
    margin-bottom: 48px;
}

 .main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)),
                    url(../images/office/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    max-width: 1440px;
    color:#FFFFFF;  
   
}

 .main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
}

 .hero-container {
    text-align: center;
    
 }
 
.main-btn:hover, .main-btn:focus {
    background: #404BBF;
}




/* SECTION1*/

.section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.section-item {
    min-height: 104px;
    min-width: 264px;   
}


.section-item-title {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;  
}

.section-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-list {
    display: flex;
    gap: 24px; 
}

.section-item-img {
    width: calc((100%-72px)/4);
}
.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*---Section2---*/

.section-pic-title {
    line-height: 1.11;
    text-align: center;
    color: var(--sub-brand-color);
    margin: auto;
    margin-bottom: 72px;   
}

.section-list-img {
    gap: 24px;
}

.section-item-img {   
    width: calc((100%-48px)/3);
}

.section-pic {
    padding-bottom: 120px;
}


/*--section-TEAM--*/

.section-team {

    background-color: #F4F4FD ;
    padding: 120px 0;
}

.section-title {
    line-height: 1.11;
    text-align: center;
    color:#2e2f42;
    margin-bottom: 72px;
}

.section-team-caption {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    margin-bottom: 8px;
}

.section-team-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.section-team-list {
   gap: 24px;
}

.section-team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
    flex-basis: calc(100% - 72px / 4);  
}
.container-name {
    text-align: center;
    padding: 32px 0;    
}



.socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-color);
    border-radius: 50%;

}
.socials-link:hover, .socials-link:focus{
    background-color: #404bbf;
}
.socials-icon {
    fill: var(--background-color);
}

/*---Section Customers---*/

.customers-section {
    padding: 120px 0;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--sub-brand-color);
    margin-bottom: 72px;
    text-align: center;
    

}

.customers-list {
    gap: 24px;
}
.customers-list-item {
    width: 168px;
    height: 88px;
    width: calc((100% - 120px) / 6);
}
.customers-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.customers-item-link:hover, .customers-item-link:focus{
    border-color: #404bbf;
    color: #404bbf;
}
.customers-link-icon {
    fill: currentColor;
}


/*--Footer--*/

.footer {
    display: flex;
    padding: 100px 0;
    background-color: #2E2F42;
   
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    margin-right: 120px;
}

.footer-link-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;   
}

.logo-footer-text {
    color: #F4F4FD;
}
.footer-text {
    width: 264px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;     
}
 
.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.socials-items {
    width: 40px;
    height: 40px;
        
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--button-color);
    border-radius: 50%;
}
.footer-socials-link:hover, .footer-socials-link:focus {
    background: #31D0AA;
    ;
}




/*-----------PORTFOLIO-------------*/

/*---logo---*/


.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;    
}
    
 .logo-text {
        color: #2E2F42;
}


/*---Header---*/

.header {
    border-bottom: 1px solid #e7e9fc;    
}

.header-item-link {
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.header-item-link:hover, .header-item-link:focus {
    color: #404bbf; 
}
 
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
    padding: 24px 0;
    gap: 40px;
}

.contacts:hover, .contacts:focus {
    color: #404bbf;
}
 
.link {
   text-decoration: none;
}


/*---BUTTON---*/



.section-btn {
    padding: 96px 0 120px;
}
.button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

button {
    display: flex;
    padding: 12px 24px;
    color: var(--button-color);
    background-color: var(--background-color);
    cursor: pointer;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.section-item-btn:hover, .section-item-btn:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   border: 1px solid transparent;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
            0px 2px 1px rgba(0, 0, 0, 0.08), 
            0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-item-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;   
}


/*---IMAGES---*/

img {
    display: block;
}

.img-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.img-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-list-pic {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-basis: calc((100%-72px)/3);  
}

.container-img-text {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.image-link {
    display: block;
}
.image-link:hover, .image-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}